[submodule "demo"]
	path = demo
	url = https://github.com/hscrypt/demo.git
[submodule "js"]
	path = js
	url = https://github.com/hscrypt/js.git
[submodule "webpack-plugin"]
	path = webpack-plugin
	url = git@github.com:hscrypt/webpack-plugin.git
[submodule "ts-chacha20"]
	path = ts-chacha20
	url = https://github.com/hscrypt/ts-chacha20.git
